{% extends 'base.html' %}
{% block content %}
<section id="login" class="login section">


      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-8" >
            <div class="login-form-wrapper">
              <div class="login-header text-center">
                <h2>Reset Password</h2>
              </div>



              {% if messages %}
                <div class="alert alert-Success text-center">
                  <h5>Password reset successfully.</h5>
                </div>
              {% endif %}

              <div class="signup-link text-center">
                <span>Don't have an account?</span>
                <a href="{% url 'register' %}">Sign up for free</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Login Section -->
{% endblock %}